body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}
.calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 0%);
    border-radius: 15px;
    width: 60vh;
    /* overflow: hidden; */
    height: 100vh;
    padding: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.display{
    width: 58vh;
    border-radius: 15px;
    background-color:hsl(0, 0%, 90%);
    color: hsl(0, 0%, 0%);
    text-align: right;
    height: 90px;
    padding:0px;
    font-size: 5rem;
    margin: 10px 5px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}

#buttons .button{
    font-size: 3rem;
    color: #000;
    width: 11vh;
    height: 11vh;
    border-radius: 6px;
    background-color: hsl(0, 0%, 84%);
    box-shadow: -8px -8px 15px hsla(255, 255, 255, 0.1), 5px 5px 15px hsla(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons .button:hover{
    background-color: hsl(0, 0%, 74%);
}
#buttons .button:active{
    background-color: hsl(0, 0%, 64%);
}
#equal .equal {
    background-color: orangered;
    display: grid;
    width: 93%;
    margin-left: 10px;
    margin-top: -10;
    border-radius: 5px;
    height: 10vh;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#equal .equal:hover{
    background-color: hsl(16, 100%, 60%);
}
#equal .equal:active{
    background-color: hsl(16, 100%, 70%);
}
#buttons #clear{
    background-color: red;
}
#buttons #clear:hover{
    background-color: hsl(0, 100%, 60%);
}
#buttons #clear:active{
    background-color: hsl(0, 100%, 70%);
}

@media screen and (max-width: 767px;) {
    #buttons .button{
        width: 8vh;
        height: 8vh;
    }
}